{{- $dir := .Dir -}}
{{- $ctx := .Ctx -}}

{{- if not $dir }}
  <p>Erreur : dossier introuvable.</p>
{{- else }}
  {{- $files := readDir (printf "static/%s" $dir) -}}
  <ul>
    {{- range $files -}}
      {{- if .IsDir -}}
        <li>
          <details>
            <summary>📂 {{ .Name }}</summary>
            {{ partial "list_html_recursive.html" (dict "Dir" (printf "%s/%s" $dir .Name) "Ctx" $ctx) }}
          </details>
        </li>
      {{- else if strings.HasSuffix .Name ".html" -}}
        <li>
          📄 
          <a class="btn" href="{{ printf "%s%s/%s" $.Site.BaseURL ($dir | replaceRE "^static/" "") .Name | absURL }}" target="_blank">{{ .Name }}</a>
        </li>
      {{- end -}}
    {{- end -}}
  </ul>
{{- end -}}
