{{/* Shortcode : {{<list_cr "comptes_rendus">}} */}}

{{- $base := .Get 0 -}}

{{- $walk := func ( $path string ) -}}
  {{- $files := readDir (printf "static/%s" $path) -}}
  <ul>
    {{- range $files -}}
      {{- if .IsDir -}}
        <li>
          📂 {{ .Name }}
          {{ $sub := printf "%s/%s" $path .Name }}
          {{ $walk $sub }}
        </li>
      {{- else if strings.HasSuffix .Name ".pdf" -}}
        <li>
          📄 <a href="/{{ $path }}/{{ .Name }}">{{ .Name }}</a>
        </li>
      {{- end -}}
    {{- end -}}
  </ul>
{{- end -}}

{{- $walk $base -}}
